body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/realistic-neon-lights-background_52683-59889.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    color: #e30c7b; /* Dark pink neon color for the heading */
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .password-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input {
    font-size: 25px;
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #e30c7b; /* Dark pink neon color for the input border */
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff; /* White color for the input text (generated password) */
    width: 200px;
  }
  
  button {
    font-size: 18px;
    padding: 8px 16px;
    background-color: #e30c7b; /* Dark pink neon color for the button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c60063; /* Slightly darker dark pink neon color on hover */
  }
  
  /* Animation for the password generation button */
  @keyframes buttonBounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  button:focus {
    animation: buttonBounce 0.5s;
  }
  
  /* Animated underline effect for the password input */
  input:focus {
    border-bottom: 2px solid #e30c7b; /* Dark pink neon color for the input border on focus */
    transition: border-bottom 0.3s ease;
  }
  
  .footer {
    text-align: center;
    color: #ccc;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  